*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.nav{
    display: flex;
    background-color: black;
    justify-content: end;
    margin: 3rem;
    gap: 20px;


}
.nav>a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    
}